<footer class="footer">
  <small>
    Tadhg and Piotrs <a href="http://en.wikipedia.org/wiki/Bicycle">Bicycle</a> Shop
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://en.wikipedia.org/wiki/Bicycle">Bicycles</a></li>
    </ul>
  </nav>
</footer>